*.log
__pycache__
api_credentials.py
authenticate.py
mapbox_token.py
people/*
!people/*.js
!people/*.py
!people/*.sh
!people/*.pl
!people/*.html
!people/*.css
countries/*
!countries/*.js
!countries/*.py
!countries/*.sh
!countries/*.pl
!countries/*.html
!countries/*.css
people/members_list
last_total.py
update-repos.sh
update-maps.sh
run-update-maps.sh
locations.py
members.py
mapbox_token.js
CNAME
